@use "../core";
@use "../semantic";

html {
  scroll-behavior: smooth;
  scrollbar-color: semantic.$scrollbar-color semantic.$scrollbar-background-color;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  min-width: 380px;
  position: relative;
  overflow-x: hidden;
  font-size: semantic.$base-font-size;
  line-height: semantic.$base-line-height;
  font-family: semantic.$body-font-family;
}

.container {
  max-width: core.$view-port-lg;
  margin: 0 auto;
  padding: 0 clamp(#{core.$spacing-1}, 2%, #{core.$spacing-3});
  height: 100%;
}

#__nuxt {
  min-height: 100%;
}

::selection {
  background: core.$color-red-oxide;
  color: core.$color-white;
}