{
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "printWidth": 120,
  "quoteProps": "preserve",
  "singleAttributePerLine": true
}