$color-fun-blue: #294985;
$color-white: #ffffff;
$color-ebony: #2c303c;
$color-whisper: #ededed;
$color-storm-grey: #80838a;
$color-indian-red: #ce5b5b;
$color-suva-grey: #8f8f8f;
$color-rock-blue: #94a4c2;
$color-rosy-brown: #c29494;
$color-shadow-green: #94c2af;
$color-grey: #dddddd;
$color-japanese-laurel: #388e3c;
$color-persian-red: #d32f2f;
$color-orange-peel: #ffa000;