$spacing-base: 8px;
$spacing-1: $spacing-base;
$spacing-2: $spacing-base * 2;
$spacing-3: $spacing-base * 3;
$spacing-4: $spacing-base * 4;
$spacing-5: $spacing-base * 5;
$spacing-6: $spacing-base * 6;
$spacing-7: $spacing-base * 7;
$spacing-8: $spacing-base * 8;
$spacing-9: $spacing-base * 9;
$spacing-10: $spacing-base * 10;
$spacing-11: $spacing-base * 11;
$spacing-12: $spacing-base * 12;
$spacing-13: $spacing-base * 13;
$spacing-14: $spacing-base * 14;
$spacing-15: $spacing-base * 15;
$spacing-16: $spacing-base * 16;